table#tablaLista.table.is-fullwidth
    thead
        tr
            th(title="Posicion") # 
            th(title="modelo") modelo
            th(title="marca") marca
            th(title="colo") color
            th(title="size") size
            th(title="puertas") puertas

                
    tbody#bodytable
        