doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css')
    

  body
    block header
    block content
    block footer
    block scripts
    script(src='https://kit.fontawesome.com/213e7d2279.js' crossorigin='anonymous')



